<mat-sidenav-container class="container">
  <mat-sidenav
  #sidenav
  mode="side"
   opened
   class="sidenav"
   [fixedInViewport]="false"
   [fixedTopGap]="0"
   [fixedBottomGap]="0">


  <mat-nav-list>
    <a mat-list-item [routerLink]="menu.path" *ngFor="let menu of menus">
         <mat-icon matListItemIcon>{{menu.icon}}</mat-icon>
         <div matListItemTitle>{{menu.name}}</div>

    </a>
  </mat-nav-list>
</mat-sidenav>

  <mat-sidenav-content class="contenido">

    <p><button mat-button (click)="sidenav.toggle()">Toggle</button></p>
    <router-outlet></router-outlet>



  </mat-sidenav-content>
</mat-sidenav-container>


<!-- <button mat-button (click)="goHome()">Home</button>
     <button mat-button (click)="goDetalle()">Detalle Empleado</button> -->
